
<!-- navbar -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <div class="navbar-brand"> {{ 'site-title' | translate }} </div>
    </div>

    <!-- select -->
    <span class="form-inline">
        <select class="form-control" #languageSelect (change)="switchLanguage (languageSelect.value);">
            <option *ngFor="let language of translateService.getLangs ();" 
                    [value]="language" [selected]="language === translateService.currentLang">
                {{ language }}
            </option>
        </select>
    </span>
</nav>

<!-- form -->
<main class="container">
    <article class="form-container">
        <form>

            <!-- name -->
            <div class="form-group">
                <label for="nameInput"> 
                    * {{ ('name' | translate) || 'Name' }} : 
                </label>
                <input type="text" id="nameInput" class="form-control" required>
                <small class="text-warning"> 
                    {{ ('required-error' | translate) || 'This field is required!' }} 
                </small>
            </div>
    
            <!-- email -->
            <div class="form-group">
                <label for="emailInput"> 
                    * {{ ('email' | translate) || 'Email' }} : 
                </label>
                <input type="email" id="emailInput" class="form-control" required>
                <small class="text-warning"> 
                    {{ ('required-error' | translate) || 'This field is required!' }} 
                </small>
            </div>
    
            <!-- phone number -->
            <div class="form-group">
                <label for="phoneNumberInput"> 
                    {{ ('phone-number' | translate) || 'Phone Number' }} 
                </label>
                <input type="tel" id="phoneNumberInput" class="form-control">
            </div>
    
            <!-- password -->
            <div class="form-group">
                <label for="passwordInput"> 
                    * {{ ('password' | translate) || 'Password' }} 
                </label>
                <input type="password" id="passwordInput" class="form-control" required>
                <small class="text-warning"> 
                    {{ ('required-error' | translate) || 'This field is required!' }} 
                </small>
            </div>
    
            <!-- biography -->
            <div class="form-group">
                <label for="biographyTextarea"> 
                    {{ ('biography' | translate) || 'Biography' }} 
                </label>
                <textarea id="biographyTextarea" rows="3" class="form-control"></textarea>
            </div>
    
            <!-- terms of conditions -->
            <div class="form-group form-check">
                <input type="checkbox" id="termsOfConditionsCheckbox" class="form-check-input" required>
                <label for="termsOfConditionsCheckbox" class="form-check-label"> 
                    * {{ ('terms-of-conditions' | translate) || 'Terms of Conditions' }} 
                </label>
                <br/>
                <small class="text-warning"> 
                    {{ ('required-error' | translate) || 'This field is required!' }} 
                </small>
            </div>

            <hr>

            <div class="row">
                <div class="col-12">
                    <p class="text-light font-weight-bold"> 
                        * {{ ('required-fields' | translate) || 'Required Fields' }} 
                    </p>
                </div>
            </div>
    
            <button type="submit" class="btn btn-block btn-danger"> 
                {{ ('submit' | translate) || 'Submit' }} 
            </button>
        </form>
    </article>
</main>