
.form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: cornflowerblue;
    margin: 1em auto;
    border: 1px solid blue;
    box-shadow: 0 0 20px blue;
}

label {
    color: paleturquoise;
    font-weight: bold;
}

input, textarea {
    color: blue;
    font-style: italic;
    background-color: lightblue;
    border: 1px solid blue;
}

input:focus, textarea:focus {
    background-color: lightcyan;
    border: blue;
    color: blue;
}